<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Monero Developers</title>
  <meta name="description" content="Directory of Monero projects and developers"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./js/theme.js">
  <link href="./assets/forkawesome/css/fork-awesome.min.css" rel="stylesheet">
</head>

<style>
img {max-height: 128px; object-fit: cover;}
a {color: black;}
@media (min-width: 1024px) {.card {height: 100%;}}
#toggle {float: right;}
.modal-button:focus + .modal {
  display: flex;
}
.modal-content {
word-wrap: break-word;
}
</style>

<body>

<div class="section">
<div class="container is-fluid">
<h1 class="title">Projects</h1>

<div class="columns is-multiline is-desktop">

{{ range .Projects }}
  <div class="column is-one-quarter-desktop">
    <div class="card has-text-centered">
        <div class="card-content">

          <figure class="image is-128x128 is-inline-block mb-5">
            <img class="is-rounded" src="{{ .Avatar }}" alt="">
          </figure>

          <h5 class="title is-5 mb-2">{{ .Name }}</h5>

          <div class="icons mb-2">
            {{ .Icons }}
          </div>

         <p>{{ .Description }}</p>
	 {{ if .Donate }}
        <button class="button is-primary is-inline-block mt-5 modal-button">Donate</button>
	<div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
	<div class="box">
	<div class="content">
      	<p>{{ .Donate }}</p>
	</div>
	</div>
        </div>
</div>
	 {{ end }}
        </div>
        <footer class="card-footer is-inline-block">
        <div class="buttons are-small is-inline-block m-3">
	  {{ range .Tags }}
          <button class="button is-rounded">{{ . }}</button>
	  {{ end }}
        </div>
        </footer>
      </div>
    </div>
{{ end }}

</div>

<h1 class="title">People</h1>

<div class="columns is-multiline is-desktop">

{{ range .People }}
  <div class="column is-one-quarter-desktop">
      <div class="card has-text-centered">
        <div class="card-content">
          <figure class="image is-128x128 is-inline-block mb-5">
            <img class="is-rounded" src="{{ .Avatar }}" alt="">
          </figure>

          <h5 class="title is-5 mb-2">{{ .Name }}</h5>
	  <div class="icons mb-2">
            {{ .Icons }}
	  </div>
          <p>{{ .Description }}</p>
	 {{ if .Donate }}
        <button class="button is-primary is-inline-block mt-5 modal-button">Donate</button>
	<div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
	<div class="box">
	<div class="content">
      	<p>{{ .Donate }}</p>
	</div>
	</div>
        </div>
</div>
	 {{ end }}
        </div>
        <footer class="card-footer is-inline-block">
        <div class="buttons are-small is-inline-block m-3">
	  {{ range .Tags }}
          <button class="button is-rounded">{{ . }}</button>
	  {{ end }}
        </div>
      </footer>
    </div>
  </div>
{{ end }}

</div>
</div>
</div>
</body>
